.fab,fab-danger {
    font-size: 20px;
    border-radius: 100%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 100;
}

.fab-danger{
    position: fixed;
    bottom: 75px;
    right: 25px;
}